<h4><b>{{title}}</b></h4>
<!-- <small>Add or remove countries to generate the chart</small> -->

<div class="container">
      <div class="list-container">
  
      <!-- <div id="divLineChart"></div> --> 
      <h5>Drag one or more countries to generate report</h5>
      <div class="todo-container column-container">
        <div class="list"
             cdkDropList
             #countriesList="cdkDropList"
             [cdkDropListData]="countries"
             [cdkDropListConnectedTo]="[reportList]"
             (cdkDropListDropped)="onDrop($event)">
          <h2>Countries</h2>

          <mat-card *ngFor="let c of countries" cdkDrag>
            <!-- <mat-card-header> -->
              <mat-card-title>{{c.name}}</mat-card-title>
            <!-- </mat-card-header> -->
          </mat-card>
          <!-- <p *ngFor="let c of countries" cdkDrag>
            {{ c.name }}
          </p> -->

        </div>
      </div>
  
      <div class="done-container column-container">
        <div class="list"
             cdkDropList
             #reportList="cdkDropList"
             [cdkDropListData]="report"
             [cdkDropListConnectedTo]="countriesList"
             (cdkDropListDropped)="onDrop($event)">
          <h2>Report</h2>
          <mat-card *ngFor="let r of report" cdkDrag>
            <!-- <mat-card-header> -->
              <mat-card-title>{{r.name}}</mat-card-title>
              <!-- <mat-card-subtitle>{{complete.category}}</mat-card-subtitle> -->
            <!-- </mat-card-header> -->
          </mat-card>
        </div>
      </div>
  
    </div>
  </div>

  <div id="divDailyChart"></div>
  <div id="divPercChart"></div>

  
