<!-- <table class="table table-inverse table-hover header-fixed">
    <thead class="thead-dark">
      <tr></tr>
    </thead>
    <tbody *ngFor="let s of stats">
        <td>             
          <a routerLink="/google-chart/line-chart/{{ s.country }}"
            title="{{ s.country }}"><img src="{{ s.countryInfo.flag }}" width="166px" height="100px"></a>
        </td>                  
    </tbody>
  </table> -->

  <div>
    <ul>
      <li>
        <!-- <a routerLink="/google-chart/line-chart/{{ s.country }}"
        title="{{ s.country }}"><img src="{{ s.countryInfo.flag }}" width="166px" height="100px"></a> -->
        
        <a href="#">link 1</a>
        <a href="#">link 2</a>

      </li>
    </ul>
  </div>

  <!-- <div *ngFor="let s of stats; let i = index">
    <ul>
      <li *ngIf="i < 3">
        <a routerLink="/google-chart/line-chart/{{ s.country }}"
        title="{{ s.country }}"><img src="{{ s.countryInfo.flag }}" width="166px" height="100px"></a>

      </li>
    </ul>
  </div> -->